*{margin:0;padding:0;box-sizing:border-box}
body,html,#app{height:100%}
#app{position:relative;background:#000}
video{
  width:100vw;height:100vh;object-fit:cover;
  transform:scaleX(-1);
}
#frame{
  position:absolute;top:0;left:0;
  width:100vw;height:100vh;
  pointer-events:none;object-fit:cover;
}
